@import '../css/variables.scss';

.overlayWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation-name: wrapper;
  animation-duration: 1s;
}

@keyframes wrapper {
  from {opacity: 0;}
  to {opacity: 1;}
}

.overlayFrame {
  position: absolute;
  width: calc(100% - 3rem);
  background-color: $colorBlack;
  color: $colorGray85;
  z-index: 10;
  overflow: hidden;
  top: 0;
  right: 0;
  margin-block: 2rem;
  animation-name: frame;
  animation-duration: 1s;
}

@keyframes frame {
  from {right: -20rem;}
  to {right: 0;}
}

.overlayContent {
  position: relative;
  width: 100%;
  padding: $clusterSizeX2;
  color: $colorWhite;
}

.overlayShade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.571);
  top: 0;
  left: 0;
}

.overlayHeader {
  height: $clusterSizeX4;
  width: 100%;
  font-size: $fontSize20;
  padding-inline: $clusterSizeX3;
  background-color: $colorGray75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $fontRoboto;
  font-weight: $fontWeightBold;
  color: $colorWhite;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
