@import '../css/variables.scss';

.formWrapper {
  display: flex;
  flex-direction: column;
  border-color: $colorWhite;

  .headerSpan {
    color: $colorWhite;
    font-size: $fontSize16;
    font-weight: $fontWeightBold;
  }
}

.scrollPad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  width: 100%;
  align-items: center;
  gap: $clusterSizeX05;
  overflow-y: auto;
  overflow-x: hidden;
  height: $clusterSizeX10 * 2;
  margin-block: $clusterSize;

  padding-right: $clusterSizeX05;

  @media (max-width: 470px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 360px) {
    grid-template-columns: 1fr;
  }
}

.deleteButton {
  background-color: #df3030;
  margin: 0;
}

.button {
  margin: 0;
  padding-inline: $clusterSizeX2 * 1.4;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.deleteButtonWrapper {
  display: flex;
  justify-content: center;
}

.scrollPadContainer {
  width: 100%;
}


.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $clusterSize;
  margin-block: $clusterSizeX2;


  > span {
    font-family: $fontRoboto;
    font-size: $fontSize14;
    font-weight: $fontWeightNormal;
    color: $colorWhite
  }
}