@import '../css/variables.scss';

.overlayWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlayFrame {
  position: absolute;
  width: calc(100% - 3rem);
  background-color: $colorGray50;
  z-index: 10;
}

.overlayShade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.571);
  top: 0;
  left: 0;
}

.overlayHeader {
  text-align: center;
  font-size: $fontSize20;
  margin-block: $clusterSize;
  padding-inline: $clusterSizeX3;
  color: $colorWhite;
}

.addWord {
  display: grid;
  position: absolute;
  padding-left: $clusterSize;
  padding-top: $clusterSize;
  column-gap: $clusterSize * 0.5;
  border-radius: $clusterSize;
  z-index: 1;
  grid-template-columns: auto 10% 10%;
  max-width: $clusterSizeX10 * 4;
  width: 100%;
  height: $clusterSizeX10 * 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputButtonFlex {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: $clusterSizeX2;
}

.inputField {
  height: $clusterSizeX3;
  width: $clusterSize * 25;
  border-radius: $clusterSize * 0.5;
}

.dropdown {
  margin: auto;
  width: fit-content;
}

.saveButton {
  width: $clusterSizeX5;
  margin: auto;
  display: block;
  float: none;
  margin-block: $clusterSize;
}

.addWordButton {
  width: $clusterSizeX8;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: $clusterSize;
}
