@import '../css/variables.scss';

.searchInterface {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: $clusterSizeX4;
  grid-gap: $clusterSize;
  margin-bottom: $clusterSize;
}

.searchInterfaceRow {
  height: $clusterSizeX4;
  width: 100%;
  display: grid;

  &_withButton {
    grid-template-columns: 1fr $clusterSizeX4;
    grid-gap: $clusterSize;
  }
}
