@import 'css/variables.scss';
@import 'css/breakpoints.scss';

.searchInterface {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: $clusterSizeX4;
  grid-gap: $clusterSize;
  margin-bottom: $clusterSize;
}

.searchInterfaceRow {
  height: $clusterSizeX4;
  width: 100%;
  display: grid;

  &_withButton {
    grid-template-columns: 1fr $clusterSizeX4;
    grid-gap: $clusterSize;
  }
}

.searchedContentWrapper {
  overflow-y: auto;
  box-sizing: border-box;
  height: $clusterSizeX10 * 3;
  scrollbar-color: $colorWhite $colorGray75;
  scrollbar-width: thin;

  @include for-phone-447 {
    height: $clusterSizeX10 * 2.5;
  }
}
