@import 'css/variables.scss';

.button {
  font-family: $fontRoboto;
  background-color: $colorGray20;
  height: $clusterSizeX3;
  width: $clusterSizeX7 * 2;
  color: $colorGray75;
  text-transform: uppercase;
  font-weight: $fontWeightBold;
  font-size: $fontSize12;
  border: none;
  margin: auto;
  cursor: pointer;
}
