@import 'css/variables.scss';

.main {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto 5rem;
  position: relative;
  padding-inline: 2rem;
  justify-content: center;

  // styles for Safari
  max-width: $clusterSizeX10 * 4;
  max-height: 100vh;
  margin: 0 auto;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
