@import 'css/variables.scss';
@import 'css/breakpoints.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $fontRoboto;
  background-color: $colorAccent1;
  height: $clusterSizeX3;
  padding-inline: $clusterSizeX2;
  color: $colorWhite;
  border-radius: $borderRadius2;
  text-transform: uppercase;
  font-weight: $fontWeightBold;
  font-size: $fontSize12;
  border: none;
  margin: auto;
  display: block;
  cursor: pointer;

  @include for-phone-600 {
    max-width: $clusterSizeX9;
  }

  @include for-phone-370 {
    font-size: $fontSize10;
  }
}
