@import '../../../css/variables.scss';

.wrapper {
  margin-bottom: $clusterSize;
  border-radius: $borderRadius1;
  background-color: $colorGray75;
  margin-inline: $clusterSize;
}

.textButton {
  position: relative;
  width: 100%;
  height: $clusterSizeX7;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: $borderRadius1;
  background-color: $colorGray75;
  color: $colorWhite;
  font-family: $fontRoboto;
  padding: $clusterSize * 1.5;
  padding-inline: $clusterSizeX3;
  cursor: pointer;

  &:hover {
    filter: brightness(125%);
  }

  &::before {
    top: $clusterSize;
    left: $clusterSize;
    display: block;
    content: '';
    position: absolute;
    width: $clusterSizeX05;
    height: calc(100% - #{$clusterSizeX2});
    background-color: var(--bg-color);
    border-radius: $borderRadius05;
  }

  &_accent1 {
    &::before {
      background-color: $colorAccent1;
    }
  }

  &_accent2 {
    &::before {
      background-color: $colorAccent2;
    }
  }

  &_accent3 {
    &::before {
      background-color: $colorAccent3;
    }
  }
}

.mainCell {
  font-size: $fontSize20;
  font-weight: $fontWeightBold;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-break: anywhere;
}

.secondaryCell {
  font-size: $fontSize14;
  opacity: $opacity60;
}

.wordUi {
  padding: $clusterSizeX2;
}

.buttonContainer {
  border-top: solid 1px $colorGray25;
  margin-bottom: $clusterSizeX2;
  display: flex;
  justify-content: flex-end;
}

.description {
  color: $colorGray25;
  font-size: $fontSize14;
  line-height: $fontLineHeight14;
}

.colorOrange {
  background-color: $colorAccent2;
}
