@import '../../../css/variables.scss';
@import 'css/breakpoints.scss';

.wrapper {
  margin-bottom: $clusterSize;
  margin-inline: $clusterSize;
  background-color: $colorGray75;
  border-radius: $borderRadius1;
}

.textButton {
  position: relative;
  width: 100%;
  height: $clusterSizeX7;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $borderRadius1;
  background-color: $colorGray75;
  color: $colorWhite;
  font-family: $fontRoboto;
  padding-block: $clusterSize * 1.5;
  padding-inline: $clusterSizeX3;
  cursor: pointer;

  @include for-phone-600 {
    height: $clusterSizeX5;
    justify-content: space-evenly;
    padding: 0 $clusterSizeX3 0 $clusterSizeX3;
  }

  &:hover {
    filter: brightness(125%);
  }

  &::before {
    top: $clusterSize;
    left: $clusterSize;
    content: '';
    position: absolute;
    width: $clusterSizeX05;
    height: calc(100% - #{$clusterSizeX2});
    border-radius: $borderRadius05;
  }

  &_accent1 {
    &::before {
      background-color: $colorAccent1;
    }
  }

  &_accent2 {
    &::before {
      background-color: $colorAccent2;
    }
  }

  &_accent3 {
    &::before {
      background-color: $colorAccent3;
    }
  }
}

.mainCell,
.secondaryCell {
  font-size: $fontSize20;
  font-weight: $fontWeightBold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-break: anywhere;

  //тестировать, можно ли безопасно удалить
  // text-overflow: ellipsis;

  @include for-phone-600 {
    font-size: $fontSize16;
  }
}

.secondaryCell {
  font-size: $fontSize14;
  opacity: $opacity60;
}

.wordUi {
  padding: $clusterSizeX2;
}

.buttonContainer {
  border-top: solid 1px $colorGray25;
  margin-bottom: $clusterSizeX2;
  display: flex;
  justify-content: flex-end;
}

.description {
  color: $colorGray25;
  font-size: $fontSize14;
  line-height: $fontLineHeight14;

  @include for-phone-600 {
    font-size: $fontSize12;
  }
}

.colorOrange {
  background-color: $colorAccent2;
}

.redButton {
  background-color: #df3030;
}

.button {
  padding-inline: $clusterSizeX2 * 1.4;
}

.redButtonWrapper {
  display: flex;
  justify-content: center;
}

.dialogWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: $fontSize16;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.6;
}

.dialogText {
  max-width: 30rem;
  text-align: center;
}

.dialog {
  background-color: $colorGray75;
  color: $colorWhite;
}
