@import 'css/variables.scss';

.main {
  display: grid;
  height: 100%;
  grid-template-rows: 10% auto 8%;
  position: relative;
  padding-inline: $clusterSizeX2;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
