@import '../../css/variables.scss';

.main {
  display: grid;
  height: 100%;
  // padding: 1rem;
  grid-template-rows: 10% auto 8%;
  position: relative;
  padding-inline: $clusterSizeX2;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5c2ff;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6797ff;
}
