@import 'css/variables.scss';

.switch {
  position: relative;
  width: $clusterSizeX5;
  height: $clusterSize * 2.7;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: $clusterSizeX2;
}

.slider:before {
  position: absolute;
  content: '';
  height: $clusterSizeX2;
  width: $clusterSizeX2;
  left: calc($clusterSize / 2.5);
  bottom: calc($clusterSize / 2.7);
  background-color: $colorWhite;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $colorAccent1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX($clusterSizeX2 * 1.1);
  -ms-transform: translateX($clusterSizeX2 * 1.1);
  transform: translateX($clusterSizeX2 * 1.1);
}
