@import '../../css/variables.scss';
@import 'css/breakpoints.scss';

.wrapper {
  display: inline-grid;
  grid-template-columns: $clusterSizeX4 1fr $clusterSizeX4 $clusterSizeX4;
  width: 100%;
  align-items: center;

  &_mainPage {
    grid-template-columns: 1fr $clusterSizeX4;
  }
}

.backButton.active {
  display: block;
}

.headerText {
  font-size: $fontSize24;
  font-weight: $fontWeightBold;
  color: $colorWhite;
  margin-left: $clusterSize;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;  
  -webkit-box-orient: vertical;
  line-break: anywhere;
  overflow: hidden;

  @include for-phone-447 {
    font-size: $fontSize20;
  }

  @include for-phone-370 {
    font-size: $fontSize16;
  }

  &_padded {
    padding-left: $clusterSize;
  }
}


.headerTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}