@import '../../css/variables.scss';
@import 'css/breakpoints.scss';

.wrapper {
  display: inline-grid;
  grid-template-columns: $clusterSizeX4 1fr $clusterSizeX4 $clusterSizeX4;
  width: 100%;
  align-items: center;

  &_mainPage {
    grid-template-columns: 1fr $clusterSizeX4;
  }

  > div,
  button {
    justify-self: center;
  }
}

.backButton.active {
  display: block;
}

.headerText {
  font-size: $fontSize24;
  font-weight: $fontWeightBold;
  color: $colorWhite;
  margin-left: $clusterSize;

  @include for-phone-447 {
    font-size: $fontSize20;
  }

  @include for-phone-370 {
    font-size: $fontSize16;
  }

  &_padded {
    padding-left: $clusterSize;
  }
}
