@import '../../css/variables.scss';

.wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  width: 100%;
  align-items: center;

  > h2 {
    font-size: $fontSize24;
    font-weight: $fontWeightBold;
    color: $colorWhite;
    margin-left: $clusterSize;
  }

  > div,
  button {
    justify-self: center;
  }
}

.backButton.active {
  display: block;
}
