@import 'css/variables.scss';
@import 'css/mixins.scss';

.flashcardWrapper {
  @include learn-modes-wrapper;

  padding: $clusterSizeX2;
  grid-template-rows: auto $clusterSizeX7;
}

.mainContent {
  font-size: $fontSize16;
  display: grid;
  justify-items: center;
  grid-auto-rows: minmax(auto, $clusterSize * 17) minmax(auto, $clusterSizeX10);
}

.firstLineWrapper,
.secondLineWrapper {
  margin-bottom: $clusterSize;
  overflow-y: scroll;
}

.buttonContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: $clusterSize;
}

.secondLine {
  display: none;
  font-size: $fontSize14;
  overflow-y: scroll;

  &:global(.active) {
    display: block;
  }
}

.secondLineWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.visibilityButton {
  @include learn-modes-visibilityButton;
}

.learntWrapper {
  @include learn-modes-learntWrapper;
}
