@import 'css/variables.scss';
@import 'css/breakpoints.scss';

@mixin pages-main {
  @content;

  display: grid;
  height: 100%;
  grid-template-rows: min-content auto min-content;
  position: relative;
  padding-inline: $clusterSizeX2;

  @include for-phone-370 {
    padding-inline: $clusterSize;
  }
}

@mixin pages-main-content {
  @content;

  flex-grow: 1;
  overflow-y: auto;
}