@import './css/variables.scss';

body,
html {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $colorGray50;
}

#root {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  aspect-ratio: 9/16;
}
