@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  font-size: 12px;
  font-weight: 500;
  font-family: "Leckerli One", cursive;
  font-family: "Roboto", sans-serif;
  color: #525252;
}

#root {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  aspect-ratio: 9/16;
}