@import './css/variables.scss';

body,
html {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $colorGray50;
}

#root {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  aspect-ratio: 9/16;
}

* {
  box-sizing: border-box;
}

.inputElement {
  height: $clusterSizeX4;
  padding-inline: $clusterSize;
  padding-block: $clusterSize;
  border-radius: $borderRadius05;
  border: 1px solid $colorGray75;
  font-size: $fontSize14;
  background-color: $colorGray85;
  box-shadow: $inputInnerShadow;
  color: $colorGray20;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;

  &::placeholder {
    color: $colorGray20;
    opacity: 0.6;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 $clusterSizeX05 $colorAccent1;
    outline: solid 1px $colorAccent1;
  }

  &_textArea {
    height: $clusterSizeX4 * 4;
    line-height: $fontLineHeight14;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: $clusterSizeX05;
}

/* Track */
::-webkit-scrollbar-track {
  background: $colorGray75;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $colorWhite;
  border-radius: $clusterSize;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $colorWhite;
}
