@import '../../../css/variables.scss';

.miniButton {
  width: $clusterSizeX4;
  height: $clusterSizeX4;
  border: none;
  border-radius: $borderRadius05;
  background-color: transparent;
  fill: $colorWhite;
}
