@import '../../../css/variables.scss';

.buttonWrapper {
  margin-bottom: $clusterSize;
  background-color: $colorGray75;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: $fontSize14;
  font-weight: $fontWeightNormal;
  border: none;
  color: $colorWhite;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
}

.svgContainer {
  width: $clusterSizeX4;
  height: $clusterSizeX4;
  margin-inline: $clusterSize;
  fill: $colorWhite;

}